{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_blog.css') }}">
{% endblock %}


{% block page_content %}

<div id="javascript-error-check"></div>

<form action="" method="POST" id="blog-post-form">
  {{ form.hidden_tag() }}
  <legend class="border-bottom mb-4">Post a Blog</legend>
  <div class="form-group">
    {{ form.title.label() }}
    {{ form.title(class="form-control", id="blog-title") }}
  </div>
  <div class="form-group">
    {{ form.author.label() }}
    {{ form.author(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.headline.label() }}
    {{ form.headline(class="form-control blog-headline") }}
  </div>
  <div class="form-group">
    {{ form.content.label() }}
    {{ form.content(class="form-control blog-content", rows=20) }}
  </div>
  <div class="form-group">
    {{ form.tags.label() }}
    {{ form.tags(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>


{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/post_blog.js') }}" id="blog_titles" blog_titles="{{ blogs }}"></script>
{% endblock %}
