.pic-contact {
  width: 35%;
  float: left;
}

.profile_pic {
  max-width: 90%;
  margin: auto;
}

.about-contact {
  font-size: 2em;
}

.gmail-nav, .gmail-nav:hover {
  color: #E04839;
}

.linkedin-nav, .linkedin-nav:hover {
  color: #0077B5;
}

.github-nav, .github-nav:hover {
  color: black;
}

.gmail-nav:hover, .linkedin-nav:hover, .github-nav:hover {
  opacity: 0.7;
}


@media only screen and (max-width: 767px) {
  .about-contact {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .pic-contact {
    width: 50%;
  }

  .about-contact {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .pic-contact {
    width: 100%;
  }
}
