.breadcrumb {
  background-color: white;
  color: #171B35;
}

.breadcrumb-item a {
  color: #171B35;
}

.breadcrumb-item + .breadcrumb-item::before {
   content: "|";
}

.breadcrumb .active a {
  border-bottom: 2px solid #343a40;
  color: #343a40;
}

.breadcrumb a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.breadcrumb .active a:hover {
  opacity: 1;
}
