#spotlight-carousel {
  height: 500px;
}

.carousel-inner {
  height: 500px;
}

.d-block {
  height: 500px;
  object-fit: cover;
}

.d-none {
  display: block !important;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.4);
}

.card {
  color: black;
  padding: 4px;
  border: 1px solid #f5f5f5;
}

.card:hover {
  text-decoration: none;
  color: black;
  padding: 4px;
  border: 1px solid #171B35;
}

.card-img-top {
  height: 10em;
  object-fit: cover;
}
