#spotlight-carousel {
  height: 500px;
}

.carousel-inner {
  height: 500px;
}

.d-block {
  height: 500px;
  object-fit: cover;
}

.d-none {
  display: block !important;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.4);
}

.card {
  height: 300px;
  overflow: hidden;
  color: black;
}

.card:hover {
  text-decoration: none;
  color: black;
  padding: 1px;
  border: 3px solid #171B35;
}
