.first-blog-row {
  max-height: 255px;
  overflow: hidden;
}

.main-card .card-cover {
  width: 100%;
}

.small-cards {
  height: 250px;
  overflow: hidden;
}

.small-cards .card-cover {
  width: 100%;
}

.second-blog-row {
  overflow: hidden;
}

.second-blog-row .card-cover {
  width: 100%;
}

.remaining-blog-card {
  height: 150px;
  overflow: hidden;
}

.remaining-blog-card .card-cover {
  width: 100%;
}


.first-blog-row, .second-blog-row, .remaining-blog-card {
  margin-bottom: 75px;
}


.card-body {
  color: black;
  padding: 0;
}


.blog-card:hover {
  text-decoration: none;
  background-color: #eaeaea;
}
