.media {
  margin-bottom: 25px;
  flex-wrap: wrap;
  border-left: 2px solid white;
}

.media:hover {
  text-decoration: none;
  border-left: 2px solid black;
}

.media-img-container {
  min-height: 100%;
  width: 200px;
  padding: 5px;
}

.media-img {
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.media-body {
  color: black;
}

@media only screen and (max-width: 767px) {
  .media-img-container {
    width: 100%;
  }
}
