body {
  font-family: 'Merriweather', serif;
}

.all-but-footer {
    min-height: calc(100vh - 115px);
}

.nav1 {
  height: 150px;
}

.cg-logo-full {
  width: 250px;
}

.nav2 {
  background-color: #171B35 !important;
}

.cg-logo {
  width: 75px;
}

.nav2 .navbar-nav .nav-link {
  color: white;
  font-size: 0.9em;
}

.footer {
  margin-top: 30px;
  background-color: #171B35;
  height: 100px;
  position: relative;
  bottom: 0;
}

.footer p {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer a {
  color: white;
}


@media only screen and (max-width: 450px) {
  .cg-logo {
    display: none;
  }
}
