{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block page_content %}

  <div class="container">

    <div class="about-description">
      <div class="pic-contact">
        <img class="profile_pic mb-3" src="{{ url_for('static', filename='img/profile_pic.png') }}" alt="">
        <div class="about-contact">
          <div class="row">
            <a href="#" class="col-4 gmail-nav"><i class="far fa-envelope"></i></a>
            <a href="#" class="col-4 linkedin-nav"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="col-4 github-nav"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <p>This is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif h</p>
      <p>This is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif h</p>
      <p>This is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif hThis is all about me. aoiwejfoiahwe foihaweoi fhaoiwehoaihwefoi haweoifh oiawefhoi haweoif h</p>
    </div>



  </div>

{% endblock %}
