{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block page_content %}

  <div class="container">

    <div class="about-description mt-5">
      <div class="pic-contact">
        <img class="profile_pic mb-3" src="{{ url_for('static', filename='img/profile_pic.png') }}" alt="">
        <div class="about-contact">
          <div class="">
            <a href="mailto:brandontkessler@gmail.com" target=”_blank” class="col-4 gmail-nav"><i class="far fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/brandon-kessler-2937ba2a/" target=”_blank” class="col-4 linkedin-nav"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/brandontkessler" target=”_blank” class="col-4 github-nav"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <p>
        Hi there!
      </p>
      <p>
        CodeGib is the official media publication content hub, from Pacific Analytics. CodeGib authors share ideas, spotlight other data and tech communities, and are constantly looking for new discoveries to contribute.
      </p>
      <p>
        By providing free APIs to use and share, CodeGib aspires to enrich and elevate the world of data analytics, to all facets and people of our world.
      </p>
      <p>
        As the founder of Pacific Analytics, Brandon Kessler is passionate about exploring the world through data-driven lens. Brandon has professional networks with Fortune 500 companies, organized and coached events with start-up companies including Sugarfina, spent his predominant work experience in big data analytics management for large companies and organizations, and thus identified the inadequacy in using data driven consulting. This paved the way for the creation of CodeGib, to ensure not only is data analytics consultations readily available for the conglomerate of large companies, but also convenient and attainable for any interested populations.
      </p>
      <p>
        Brandon spends his free time enjoying the weather in Southern California, with his family and 2 dogs. He welcomes discussion of any thoughts and ideas, and is always available to be reached through any of his personal contacts above.
      </p>
    </div>



  </div>

{% endblock %}
